# NINJA_API_TOKEN=<API TOKEN>
# NINJA_API_BASE_URL=<NINJA API URL>
SIM_COST_DISCOUNT=10
SIM_COST_ACCOUNT_COMMENT="IMPORTANT! Sim cost discounted."

DB_PASSWORD=secret_password
DISABLE_OTP=0
LOCAL_APP_PORT=0000
APP_FOOTER_NAME=name-year
# DATABASE

POSTGRES_USER=user
DB_PASSWORD=secret_password
POSTGRES_DB=db

LOCAL_DB_PORT=5000
LOCAL_ADMIN_PORT=10000

DEVELOP_DATABASE_URL=postgresql://${POSTGRES_USER}:${DB_PASSWORD}@127.0.0.1:${LOCAL_DB_PORT}/${POSTGRES_DB}

DATABASE_URL=postgresql://${POSTGRES_USER}:${DB_PASSWORD}@db/${POSTGRES_DB}

ADMIN_NAME=admin_name
ADMIN_PASSWORD=secret_password

PGADMIN_PORT=5050

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=secret_password

# REDIS
REDIS_PORT=6379
REDIS_URL=redis://redis
REDIS_PASSWORD=redis_password
REDIS_HOST=redis

REDIS_URL_FOR_CELERY=redis://:${REDIS_PASSWORD}@redis
# seample url for celery
# redis://arbitrary_usrname:password@ipaddress:6379/0

# in seconds 10.0 = 10 sec
CELERY_PERIODIC_CHECK_TIME=10.0

DB_DUMP_DIR_LOCAL = ./data-dump/
DB_DUMP_DIR_CONT = /data-dump

# this must be int
DB_DUMP_DAYS_PERIOD = 30
