/* custom css */
/* * {
    border-radius: 0 !important;
} */

/* .month-input {
    width: 70px;
} */

.form-horizontal .control-label{
    text-align: left;
}

/* #date-input {
    width: 150px;
} */

body{
}