{% extends "base_add_edit.html" %}

{%block content %}
<div class="container">
  <div class="form-group mt-2">
    {% if form.is_edit %}
    <h2>Extension edit</h2>
    {% else %}
    <h2>Extension add</h2>
    {% endif %}
  </div>
  {{form.id(type='hidden')}}

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Reseller:</label>
    <div class="col-sm-10">
      <select class="form-control" name="reseller_id">
        {% for record in form.resellers %}
        {% if record.id == form.reseller_id.data %}
        <option value="{{record.id}}" selected>{{ record.name }}</option>
        {% elif record.status.value == "Active" %}
        <option value="{{record.id}}">{{ record.name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    {{form.extension_date.label(class="col-sm-2 col-form-label")}}
    <div class="col-sm-10">
      {{form.extension_date(class="form-control", type="date")}}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Product:</label>
    <div class="col-sm-10">
      <select class="form-control" name="reseller_id">
        {% for record in form.products %}
        {% if record.id == form.product_id.data %}
        <option value="{{record.id}}" selected>{{ record.name }}</option>
        {% else %}
        <option value="{{record.id}}">{{ record.name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    {{form.months.label(class="col-sm-2 col-form-label")}}
    <div class="col-sm-10">
      {{form.months(class="form-control")}}
    </div>
  </div>
</div>

{% endblock%}