<!DOCTYPE html>
<html lang='en'>

<head>
  <title>{{ config.APP_NAME }}</title>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/svg" href="/images/smartphone.svg" />
  {% block meta %}{% endblock %}
  <!-- styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/css/main.css">
  {% block links %}{% endblock %}
</head>

<body>
  <!-- <div class="container-fluid"> -->
      <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">NITRIX</a>
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ main_content }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('main.accounts')}}">Accounts</a>
                {% if current_user.user_type.name in ['admin', 'super_admin'] %}
                <a class="dropdown-item" href="{{url_for('main.resellers')}}">Resellers</a>
                <a class="dropdown-item" href="{{url_for('main.products')}}">Products</a>
                <a class="dropdown-item" href="{{url_for('main.phones')}}">Phones</a>
                {% if current_user.user_type.name == 'super_admin' %}
                <a class="dropdown-item" href="{{url_for('main.users')}}">Users</a>
                {% endif %}
                {% endif %}
              </div>
            </li>
            <form class="form-inline" action="{{edit_href}}">
              {#{ form.hidden_tag() }#}
              <button class="btn btn-outline-success my-sm-0" type="submit">new</button>
            </form>
          </ul>
        </div>
          {% if current_user.user_type.name in ['admin', 'super_admin'] %}
            <button type="button" class="btn btn-outline-success my-sm-0 mr-1" data-toggle="modal" data-target="#importModal">
              Import Accounts
            </button>
          {% endif %}
          <a class="btn btn-outline-secondary my-sm-0" href="{{url_for('main.report', content=main_content)}}">Report</a>
            
          <!-- Import Modal -->
          <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="importModalLabel">Import Accounts from CSV file</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <form action="{{ url_for('account.account_import') }}" enctype="multipart/form-data" method="POST">
                    {#{ form.hidden_tag() }#}
                    <input type="file" name="csv-file" value="">
                    <input class="btn btn-success" type="submit" value="Import">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </nav>
  <!-- </div> -->
  <div class="mt-3 container-fluid">
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div> 
  {% if accounts %}
  <div class="container-fluid mt-5 table-responsive">
    <div class=" m-0 float-left">
      Show
    <select id="rows_per_page" name="rows_per_page" data-row="{{session['rows_per_page']}}">
      <option value="15">15</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
    entries
  </div>
    <form class="form-inline float-right" action="{{ url_for('main.accounts')}}">
      {#{ form.hidden_tag() }#}
      <div class="form-row mb-1">
        <input type="text" class="form-control form-control-outline-secondary my-sm-0 " name="filter" value='{{filter}}' >
      <div class="col-1.5 form-group m-0 "></div>
        <input class="btn btn-outline-secondary my-sm-0" type="submit" value="search">
      </div>
    </div>
    <!-- This input is needed to pass args to form submit -->
    <input style="display: none;" name='rows_per_page' value="{{session['rows_per_page']}}"></div>
    </form>
    <table id="theAccountTable" class="table table-striped table-sm" cellspacing="0" width="100%">
      <thead class="black white-text bg-secondary">
        <tr>
          {% for value in columns %}
          <th>{{value}}</th>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        {% for record in table_data %}
        <tr id="{{record.id}}">
          {% for key in record %}
          {% if key == 'name' %}
          <td> <a href="{{ edit_href }}?id={{record['id']}}">{{ record[key] }}</a> </td>
          {% else %}
          <td>{{ record[key] }}</td>
          {% endif %}
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end px-md-4 mt-2"> 
  {% for page_num in accounts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
    {% if accounts.page == page_num %}
    <div class="px-md-1">
      <a class="btn btn-dark mb-4" href="{{ url_for('main.accounts', page=page_num, filter=filter, rows_per_page=session['rows_per_page']) }}">{{ page_num }}</a>
    </div>
    {% else %}
    <div class="px-md-1">
      <a class="btn btn-outline-secondary mb-4 " href="{{ url_for('main.accounts', page=page_num, filter=filter, rows_per_page=session['rows_per_page']) }}">{{ page_num }}</a>
    </div>
    {% endif %}
  {% else %}
  <div class="bottom-align-text">
    <h3>...</h3>
   </div> 
  {% endif %}
{% endfor %}
</div>
{% else %}
  <!-- Content table -->
  <div class="container-fluid mt-5 table-responsive">
    <table id="theTable" class="table table-striped table-sm" cellspacing="0" width="100%">
      <thead class="black white-text bg-secondary">
        <tr>
          {% for value in columns %}
          <th>{{value}}</th>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        {% for record in table_data %}
        <tr id="{{record.id}}">
          {% for key in record %}
          {% if key == 'name' %}
          <td> <a href="{{ edit_href }}?id={{record['id']}}">{{ record[key] }}</a> </td>
          {% else %}
          <td>{{ record[key] }}</td>
          {% endif %}
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
{% endif %}
{% if users %}
{% endif%}
      <!-- Footer -->
  <div class="fixed-bottom bg-dark text-white">
    <div class="container-fluid">
      {{ config.APP_FOOTER_NAME }}
      <a class="btn btn-dark" href="{{url_for('auth.logout')}}">Logout</a>
    </div>

  </div>
    <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="js/jquery.dataTables.min.js"></script>
  <!-- Main JavaScript -->
  <script src="js/main.js"></script>
</body>
</html>