{% extends "base_add_edit.html" %}

{%block content %}
    <div class="container mt-3" >
        <div class="card  bg-light">
          <div class="card-body">
            <form>
                <h1>Product add/edit</h1>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Product name:</label>
                    <div class="col-sm-5">
                      <input type="productname" class="form-control" id="productname" >
                    </div>
                  </div>
                <div class="form-group row">
                  <label  class="col-sm-2 col-form-label">Available mohths:</label>
                  <div class="col-sm-5">
                    <input type="months" class="form-control" id="mohths" >
                  </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-5">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Active</option>
                        <option>Not Active</option>  
                      </select>
                    </div>
                  </div>
               
            
                
              </form>
          </div>
        </div>
      </div>

{% endblock%}