{% extends "base.html" %}

{% block content %}
    <div class="container mt-3">
        <div class="card  bg-light">
          <div class="card-body">
            <form>
                <h1>Reseller add/edit</h1>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Reseller name:</label>
                    <div class="col-sm-5">
                      <input type="resellername" class="form-control" id="reseller name" >
                    </div>
                  </div>
                <div class="form-group row">
                    <label  class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-5">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Active</option>
                        <option>Not Active</option>
                      </select>
                    </div>
                  </div>
              </form>
          </div>
        </div>
      </div>

{% endblock %}